.main {
  display: flex;
}

.left-side {
  flex: 1;
  padding: 20px;
}

.right-side {
  flex: 1;
  padding: 20px;
  color: black;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
  }
  
  .book-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .book-name {
    margin: 0;
  }
  
  .price,
  .quantity {
    margin: 0;
    margin-right: 10px;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .total{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 20px;
  }

 .total h3{
  margin-right: 30px;
 }

 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: green;
  margin-top: 10px;
}


